
<div class="fm-container">
    <div class="fm-img">
        <img src="https://res.cloudinary.com/dgnszubi2/image/upload/v1694646013/blobs/confirm-img_h50gjv.png" height="auto" alt="image">
    </div>
<div class="body">
    <h4 class="title">Confirm your email address</h4>

    <p class="message">
        Hi <%= recipientName %>,<br/><br/>
        We are excited to welcome you to Farmiz.<br/>
        Thank you for taking this step to help be a part of our journey and mission.<br/>
        Please click the button below to confirm your email address and activate your account.
    </p>

    <p class="btn-action"><a href="<%= accountVerificationToken %>" target="_blank" class="action-btn">Confirm Email Address</a></p>
</div>