

<footer class="footer" style="padding: 30px 0;font-family: 'Cabinet Grotesk', sans-serif;font-weight: 500;font-size: 15px;line-height: 21px;color: #969CA5;margin: 25px 0;border-top: 1px solid #DDDFE2;padding-top: 30px;">
    This email was intended for <%= recipientName %>.<br>
    Don’t want to get notifications like this? <a href="#" class="notify" style="color: #406312;text-decoration: none;font-weight: 700;font-family: 'Manrope', sans-serif;">Turn off these notifications.</a><br><br>
    © Farmiz, 100 Smith Street, Melbourne VIC 3000.
    <div class="social">
        <a href="#" style="color: #406312;text-decoration: none;font-weight: 500;font-size: 24px;padding: 10px 15px 10px 0;"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" style="color: #406312;text-decoration: none;font-weight: 500;font-size: 24px;padding: 10px 15px 10px 0;"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" style="color: #406312;text-decoration: none;font-weight: 500;font-size: 24px;padding: 10px 15px 10px 0;"><i class="fa-brands fa-instagram"></i></a>
    </div>
</footer>
</div>
</div>
</body>
</html>