            <p class="footer">
                This email was intended for <%= recipientName %>.<br/>
                Don’t want to get notifications like this? <a href="#" class="notify">Turn off these notifications.</a><br/><br/>
                © Farmiz, 100 Smith Street, Melbourne VIC 3000.
            </p>
            <p class="social">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </p>
        </div>
    </div>
</div>

<!-- Add your footer styles and scripts here -->

</body>
</html>
