<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>




</head>
<body style="margin: 0;padding: 0;background-color: #F7F9FB;">

<div class="fm-container-fluid" style="display: flex;flex-direction: column;margin: 0 auto;align-items: center;justify-content: center;padding-bottom: 3rem;">

    <div class="fm-logo" style="width: 80%;padding: 1.5rem 0;">
        <img src="https://res.cloudinary.com/dgnszubi2/image/upload/v1694645426/blobs/Farmiz_z_rc0sun.png" height="100px" width="100px" alt="image">
    </div>
</div>