<%- include('./template/header.ejs') %>
<h4 class="title">Confirm your email address</h4>
<p class="message">
    Hi <%= recipientName %>,<br/><br/>
    We are excited to welcome you to Farmiz.<br/>
    Thank you for taking this step to help be a part of our journey and mission.<br/>
    Please click the button below to confirm your email address and activate your account.
</p>
<p class="btn-action"><a href="#" class="action-btn">Confirm Email Address</a></p>


<%- include('../../template/footer.ejs', { year: new Date().getFullYear() }) %>